// COLORS
$primary:#1e1e24;
$secondary: #EF3054;
$text: #ffffff;

// BREAKPOINT
$breakpoint-extra-large: 1690px;
$breakpoint-large: 1280px;
$breakpoint-medium: 960px;
$breakpoint-small: 769px;
$breakpoint-extra-small: 480px;

// FONT
$font-family-default: 'Nunito', sans-serif;
$font-size-default: 1.1rem;

// LAYOUT
$section-padding-default: 50px 400px;
$section-padding-large: 50px 200px;
$section-padding-medium: 50px 100px;
$section-padding-small: 25px 50px;
$section-padding-extra-small: 25px 25px;
